.chroniton {
  font: 10px sans-serif;
  outline:none;

  .play-button {
    //fill:#444;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    font-size: 1em;
    width: 40px;
    height: 40px;
    background: #607889;
    display: block;
    border: none;
    padding: 10px 14px;
    margin: 5px;
    cursor: pointer;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #999999;
    //shape-rendering: crispEdges;
  }
  .x.axis, .slider text {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
  }
  .x.axis path.domain {
    stroke-width:6;
    stroke-linecap:round;
    stroke:#ddd;
  }
  .x.axis path.halo {
    //stroke-width:12;
    stroke-linecap:round;
    //stroke:#ccc;
  }
  .tick line {
    stroke:#d0d0d0;
    stroke-width:0;
    transform:translate(0px, -5px);
  }
  .slider .handle {
    fill: #607889;
    stroke-width: 3;
    stroke: white;
  }
  .slider .handle, .slider text {
    cursor: pointer !important;
    transition:fill 200ms ease-in-out;
  }
  .handle:active, .slider text:active {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .slider.brushing .handle {
    fill: #eee;
  }
  .label {
    font:bold 12px sans-serif;
  }
}
.text-success{
  color: white;
}
